{{ framing }} in {{ location.description_en }}, {{ light }}. {% for c in characters %}{{ c.lock_block }}. {% endfor %}{{ action_en }}. {{ mood }}. {{ style.character_rules }} {{ style.style_block }}. Avoid: {{ style.negative_hints }}.
