Use a imagem anexada como referência. Mantenha os mesmos personagens, rostos, roupas, sala e iluminação. Altere somente: {{ framing_pt }}, {{ action_pt }}{% if expression_pt %}, {{ expression_pt }}{% endif %}. {{ style_pt.character_rules }} {{ style_pt.style_block }}. Evitar: {{ style_pt.negative_hints }}. Formato vertical 9:16.
