{{ framing_pt }} em {{ location_pt.description }}, {{ light_pt }}. {% for c in characters_pt %}{{ c.lock_block_pt }}. {% endfor %}{{ action_pt }}. {{ mood_pt }}. {{ style_pt.character_rules }} {{ style_pt.style_block }}. Evitar: {{ style_pt.negative_hints }}.
