Animate the attached image. {{ framing }}. {{ style.video_motion_defaults }}: {{ action }}, {{ camera }}.{% if gaze %} Looking {{ gaze }}.{% endif %} No dialogue, mouth closed. {{ light }}, vertical 9:16, {{ duration_s }} seconds.
